<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.yyf.mybatisPlusSpring.dao.POJO" />
    </typeAliases>
    <mappers>
        <mapper resource="com/yyf/mybatisPlusSpring/dao/mapper/CustomerMapper.xml"/>
    </mappers>
</configuration>